%tr{id: "#{task.id}"}
  = form_for task, url:{controller: :tasks, action: :update, id: task.id}, remote: true do |f|
    %td.update{style:"width:5%;"}
      %div{style:"margin:0 auto;display:table; "}
        =f.check_box :is_done

    %td{style:"width:75%"}
      = task.content
  %td{style:"width:20%"}
    = link_to "Destroy task",{action: :destroy, id: task.id},method: :delete, remote: true