.well.well-sm{id: "#{task.id}"}
  %ul.list-inline
    %li{style:"width:5%;"}
      = form_for task, url:{controller: :tasks, action: :update, id: task.id},method: :patch, remote: true do |f|
        .update
          %div{style:"margin:0 auto;display:table; "}
            =f.check_box :is_done
    %li{style:"width:65%"}       
      %div
        = task.content
    %li{style:"width:10%"}     
      %div
        = link_to "Destroy task",{action: :destroy, id: task.id},method: :delete, remote: true