%h4
  = best_in_place_if !@task.is_done, @task, :content, as: :textarea
%hr
#ex{:title => "Click to change state", "data-toggle" =>"tooltip"}
  = best_in_place @task, :is_done, as: :select,collection: {false => "todo", true => "done"}
%br
=link_to "Back", :back  
= current_user.try(:id)


