/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require jquery-ui
 *= require bootstrap_and_overrides
 *= require_tree .
 *= require_self
 */
.todo{
  .well{
    background-color: #F8EE89;
    &:hover{background-color:#DED363;}
  }
  a:link, a:hover, a:active, a {color:#000;};
}


.done{
  li.text a{text-decoration: line-through;}
  opacity: 0.75;
	color:grey;
  a:link, a:hover, a:active, a {
    color:grey;
    &:hover{color:#fff;};
  };
  .well{
    background-color: #6EE893;
    padding:0;
    &:hover{background-color:#4EBE6F;};
  }
}

.well2{
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

.justDone{
  padding-top:20px;
  height: 57px;
}